
.fullscreen-bg {
display: flex;
flex-direction: column;
  z-index: -5;
  width: 100vw;
  height: 100vh;
}

.fullscreen-bg__video {
  height: 90vh;
}


p {
  text-align: center;
  z-index: 5;
}

@media (min-width: 1100) {
  .fullscreen-bg__video {
    width: 100vw;
  }
  
}