
.fullscreen-bg {
  position: absolute;
  // overflow: hidden;
  z-index: -100;
  width: 100vw;
  height: 100vh;
}

.fullscreen-bg__video {
  position: absolute;
  width: 100vw;
}

.startButton {
  width: 100vw;
  position: absolute;
  background: transparent;
  border: none;
}