.LeaderBoard{
  width: 100vw;
}

.LeaderBoard h2{
  font-size: 1rem;
  margin: 2.5rem;
}

.leader-list{
  max-width: 520px;
  margin: 0 auto;
  padding: 0;
}

.leader-list li{
  display: flex;
  flex-direction: row;
  padding: 0 0 0 4%;
}

.color-rotate{
  background-color: rgba(68, 91, 192, 0.274);
}

.player-info{
  text-align: left;
}

.player-info h3{
  font-size: 0.95rem;
}

.player-info p{
  font-size: 0.72rem;
  color: darkgray;
  padding-left: 42px;
}
