@import '../../styles/index.scss'; 

.dialog-box-container{
  display: flex;
  flex-direction: column;
  width: 90vw;
  z-index: 12;
  position: absolute;
  top: 64vw; 
  left: 5vw;
  @include borders;
  color: white;
  background-color: #171058;
  padding: 8px;
}

.dialog-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
}

.dialog-buttons button{
  width: 80px;
  @include borders;
  color: white;
  background-color: #171058;
}

.dialog-buttons button:hover{
  @include borders(rgb(114, 114, 114), rgb(196, 196, 196));
  background-color: #100b3f;
}

.dialog-buttons button:active{
  color: gold;
}

.dialog-box-container p{
  margin: 5px 0;
}

@media only screen and (min-width: 520px) {
  .dialog-box-container{
    top: 430px; 
    left: 10px;
    width: 500px;
  }
}
