@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login form{
  display: flex;
  flex-direction: column;
}

.loginButton, input {
  margin: auto;
  margin-top: 8px;
  min-height: 25px;
  padding: 10px;
}

.bounceIn {
  animation: bounceIn 2s;
}

.logo {
  align-self: center;
  margin-top: 25%;
  max-width: 35%;
  min-width: 200px;
}

label {
  color: white;
}

form, .buttonHolder {
  padding-top: 3rem;
  margin: auto;
}

.demo-creds{
  text-align: left;
  font-size: 0.75rem;
  padding: 0 5vw;
  margin: 2vh auto;
}